.response-card-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    animation: appear 0.5s ease-in-out;
}

.response-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-banco-austro {
    width: 4.5%;
}

.response-text {
    width: 70%;
    padding: 2%;
    font-size: medium;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #8C94BC;
    border-left: 5px solid #ec1639;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.feedback-open-container {
    display: flex;
}

.feedback-tool-tip {
    bottom: 1%;
    opacity: 0;
    padding: 0.5%;
    color: white;
    font-size: small;
    border-radius: 3px;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(66, 66, 66, 0.5);
}

.feedback-open-container:hover  .feedback-tool-tip {
    opacity: 1;
}

.svg-feedback-open {
    width: 20%;
    cursor: pointer;
}

.svg-feedback-open path {
    transition: fill 0.5s ease-in-out;
}

.svg-feedback-open:hover path {
    fill: #091B69;
}

.feedback-card {
    display: none; 
}

.feedback-card.show {
    margin-top: 2%;
    margin-left: 12%;
    display: inline-block;
}

.input-container-feedback {
    width: 85%;
    max-height: 200px;
    position: relative;
    border-radius: 25px;
    padding: 3% 3% 2.5rem 3%;
    background-color: white;
    border: 2px solid #8C94BC;
    animation: appear 0.5s ease-in-out;
}

.input-feedback {
    width: 100%;
    border: none;
    resize: none;
    max-height: 100px;
    font-size: medium; 
}

.header-feedback-card {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.svg-feedback-close {
    width: 3%;
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
}

.svg-feedback-close:hover {
    fill: #091B69;
}

.header-feedback-card h1 {
    color: #8C94BC;
}

.loading-container {
    gap: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.loading-item {
    padding: 8px;
    border-radius: 50px;
    animation: appearDisappear 1.5s infinite;
}

.loading-item:nth-child(1) {
    animation-delay: 0s;
}

.loading-item:nth-child(2) {
    animation-delay: 0.5s;
}

.loading-item:nth-child(3) {
    animation-delay: 1s;
}

@media (max-width:600px) {
    .response-card-container {
        width: 90%;
    }
    .img-banco-austro {
        width: 10%;
    }
    .response-text {
        width: 80%;
    }
    .svg-feedback-open {
        width: 8%;
    }
    .feedback-card.show {
        margin-left: 5%;
    }
    .svg-feedback-close {
        width: 5%;
    }
    .input-container-feedback {
        width: 90%;
        padding: 3% 4% 2.5rem 4%;
    }
    .loading-item {
        padding: 5px;
    }
}

@media (min-width:601px) and (max-width:1024px) {
    .response-card-container {
        width: 80%;
    }
    .img-banco-austro {
        width: 8%;
    }
    .response-text {
        width: 80%;
    }
    .svg-feedback-open {
        width: 6%;
    }
    .feedback-card.show {
        margin-left: 5%;
    }
    .svg-feedback-close {
        width: 4%;
    }
    .input-container-feedback {
        width: 90%;
        padding: 3% 4% 2.5rem 4%;
    }
    .loading-item {
        padding: 6px;
    }
} 