.response-card-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    animation: appear 0.5s ease-in-out;
}

.response-card {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: right;
}

.img-banco-austro {
    width: 4.5%;
}

.response-text {
    width: 70%;
    padding: 2%;
    font-size: medium;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #8C94BC;
    border-left: 5px solid #ec1639;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.feedback-open-container {
    display: none;
}

.feedback-open-container.show {
    right: -12%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: right;
}

.feedback-tool-tip {
    left: 1%;
    top: -40%;
    opacity: 0;
    height: 60%;
    padding: 0.5%;
    color: white;
    font-size: small;
    border-radius: 3px;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(66, 66, 66, 0.5);
}

.feedback-open-container.show:hover  .feedback-tool-tip {
    opacity: 1;
}

.svg-feedback-open {
    width: 12%;
    cursor: pointer;
}

.svg-feedback-open path {
    transition: fill 0.5s ease-in-out;
}

.svg-feedback-open:hover path {
    fill: #091B69;
}

.loading-container {
    gap: 20px;
    display: flex;
    list-style: none;
    margin-right: 50%;
    align-items: center;
    justify-content: left;
}

.loading-item {
    padding: 8px;
    border-radius: 50px;
    animation: appearDisappear 1.5s infinite;
}

.loading-item:nth-child(1) {
    animation-delay: 0s;
}

.loading-item:nth-child(2) {
    animation-delay: 0.5s;
}

.loading-item:nth-child(3) {
    animation-delay: 1s;
}

.feedback-card {
    display: none; 
}

.feedback-card.show {
    width: 100%;
    display: flex;
    margin-top: 2%;
    margin-left: 30%;
    flex-direction: column;
}

.input-container-feedback {
    width: 70%;
    max-height: 200px;
    position: relative;
    border-radius: 25px;
    padding: 3% 3% 2.5rem 3%;
    background-color: white;
    border: 2px solid #8C94BC;
    animation: appear 0.5s ease-in-out;
}

.input-feedback {
    width: 100%;
    border: none;
    resize: none;
    max-height: 100px;
    font-size: medium; 
}

.header-feedback-card {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.svg-feedback-close {
    width: 3%;
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
}

.svg-feedback-close:hover {
    fill: #091B69;
}

.header-feedback-card h1 {
    color: #8C94BC;
}

.feedback-sumit-container {
    display: none;
}

.feedback-sumit-container.show {
    display: flex;
    margin-top: 2%;
    margin-left: 30%;
    align-items: center;
    justify-content: center;
    transition: display 0.3s ease-in-out;
}

.feedback-sumit-icon {
    width: 3%;
}

.feedback-sumit-container h1 {
    font-size: small;
}

@media (max-width:600px) {
    .response-card-container {
        width: 90%;
    }
    .img-banco-austro {
        width: 10%;
    }
    .response-text {
        width: 80%;
    }
    .feedback-open-container.show {
        right: -28%;
    }
    .svg-feedback-open {
        width: 8%;
    }
    .feedback-card.show {
        margin-left: 20%;
    }
    .svg-feedback-close {
        width: 5%;
    }
    .input-container-feedback {
        width: 90%;
        padding: 3% 4% 2.5rem 4%;
    }
    .loading-item {
        padding: 5px;
    }
}

@media (min-width:601px) and (max-width:800px) {
    .response-card-container {
        width: 80%;
    }
    .img-banco-austro {
        width: 8%;
    }
    .response-text {
        width: 80%;
    }
    .feedback-open-container.show {
        right: -25%;
    }
    .svg-feedback-open {
        width: 10%;
    }
    .feedback-card.show {
        margin-left: 20%;
    }
    .svg-feedback-close {
        width: 4%;
    }
    .input-container-feedback {
        width: 90%;
        padding: 3% 4% 2.5rem 4%;
    }
    .loading-item {
        padding: 6px;
    }
} 

@media (min-width:801px) and (max-width:1024px) {
    .feedback-open-container.show {
        right: -25%;
    }
    
} 

@media (min-width:1025px) and (max-width:1300px) {
    .feedback-open-container.show {
        right: -20%;
    }
    
}

@media (min-width:1301px) and (max-width:1777px) {
    .feedback-open-container.show {
        right: -16%;
    }
    
}