.main-response-page {
    width: 100vw;
    height: 65vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.responses-container {
    padding: 0 15%;
    list-style: none;
}

.promt-container {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.response-container {
    display: flex;
    margin-top: 1%;
    align-items: center;
    justify-content: right; 
}

.footer-response-page {
    display: flex;
    margin-top: 5%;
    overflow-y: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input-container-response {
    width: 70%;
    max-height: 200px;
    position: relative;
    border-radius: 50px;
    padding: 1% 1% 2.5rem 1%;
    background-color: white;
    border: 3px solid #8C94BC;
    animation: appear 0.5s ease-in-out;
}

.input-response {
    width: 100%;
    border: none;
    resize: none;
    max-height: 100px;
    font-size: medium; 
}

@media (max-width:600px) {
    .input-container-response {
        width: 85%;
        padding: 3% 3% 2.5rem 3%;
    }
    
}

@media (min-width:601px) and (max-width:1024px) {
    .input-container-response {
        width: 90%;
        padding: 2% 2% 2.5rem 2%;
    }
    
}